@import "bootstrap-sprockets";
@import "bootstrap";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer > .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.footer > .container .text-muted {
  margin: 20px 0;
}

.navbar-brand{
  padding-left: 10px;
  padding-top: 5px;
}

/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
  padding: 20px;
  margin: 0px 0px 15px 0px;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  height: 135px;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  border-left-color: #aa6708;
}
.bs-callout-warning {
  border-left-color: #ce4844;
}
.bs-callout-info {
  border-left-color: #1b809e;
}

.alert{
  padding: 0px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .bs-callout {
    height: auto;
  }
}